In [1]:
student_Database={}

In [2]:
def adding_student():
    print("Adding New student to database of students")
    while True:
        student_name=input("Enter the student Name(Enter nothing to exit):")
        if(student_name==""):
            print("Exited")
            break
        else: 
            student_id=input("Enter the ID of the student:  ")
            graduation_year=input("Enter the Graduation Year:  ")
            graduation_degree=input("Enter the  Graduation Degree of student:  ")
            student_Database[student_id] = {'name': student_name,'Graduation Year':graduation_year,'Graduation Degree':graduation_degree,'Attendance':{}}
            print("-"*100)       
            print("*list of students*")
            print("~"*30)
            for i in  student_Database.keys():
                print(i,":",student_Database[i]) 
if __name__ == '__main__':
    adding_student()

Adding New student to database of students
Enter the student Name(Enter nothing to exit):Jithendra
Enter the ID of the student:  218T1A04B0
Enter the Graduation Year:  2
Enter the  Graduation Degree of student:  ECE
----------------------------------------------------------------------------------------------------
*list of students*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
218T1A04B0 : {'name': 'Jithendra', 'Graduation Year': '2', 'Graduation Degree': 'ECE', 'Attendance': {}}
Enter the student Name(Enter nothing to exit):Manoj
Enter the ID of the student:  218T1A04B1
Enter the Graduation Year:  2
Enter the  Graduation Degree of student:  ECE
----------------------------------------------------------------------------------------------------
*list of students*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
218T1A04B0 : {'name': 'Jithendra', 'Graduation Year': '2', 'Graduation Degree': 'ECE', 'Attendance': {}}
218T1A04B1 : {'name': 'Manoj', 'Graduation Year': '2', 'Graduation Degree': 'ECE', 'Attendance': {}}
Enter the student Name(Enter nothing to exit):Sai
Enter the ID of the student:  218T1A04B7
Enter the Graduation Year:  2
Enter the  Graduation Degree of student:  ECE
----------------------------------------------------------------------------------------------------
*list of students*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
218T1A04B0 : {'name': 'Jithendra', 'Graduation Year': '2', 'Graduation Degree': 'ECE', 'Attendance': {}}
218T1A04B1 : {'name': 'Manoj', 'Graduation Year': '2', 'Graduation Degree': 'ECE', 'Attendance': {}}
218T1A04B7 : {'name': 'Sai', 'Graduation Year': '2', 'Graduation Degree': 'ECE', 'Attendance': {}}
Enter the student Name(Enter nothing to exit):
Exited

In [3]:
student_Database

{'218T1A04B0': {'name': 'Jithendra',
  'Graduation Year': '2',
  'Graduation Degree': 'ECE',
  'Attendance': {}},
 '218T1A04B1': {'name': 'Manoj',
  'Graduation Year': '2',
  'Graduation Degree': 'ECE',
  'Attendance': {}},
 '218T1A04B7': {'name': 'Sai',
  'Graduation Year': '2',
  'Graduation Degree': 'ECE',
  'Attendance': {}}}

In [11]:
def attendance_mark():
    import datetime
    while True:
        student_id = input("Enter your student ID: ")
        if(student_id==''):
            break
        else:
            for i in student_Database.keys():
                if(i.lower()==student_id.lower()):
                    date_time = datetime.datetime.now()
                    x=str(date_time).split(' ')
                    if(len(student_Database[i]['Attendance'].values())  in range(0,1000,2)):
                        date=('log in time on',str(x[0]))
                        student_Database[i]['Attendance'].update({date:x[1]})
                    else:
                        date=('log out time on',str(x[0]))
                        student_Database[i]['Attendance'].update({date:x[1]})
if __name__ == '__main__':
    attendance_mark()

Enter your student ID: 218t1a04b0
Enter your student ID: 218T1A04B1
Enter your student ID: 218T1A04B7
Enter your student ID:

In [12]:
student_Database

{'218T1A04B0': {'name': 'Jithendra',
  'Graduation Year': '2',
  'Graduation Degree': 'ECE',
  'Attendance': {('log in time on', '2023-04-07'): '10:56:53.780933',
   ('log out time on', '2023-04-07'): '10:51:14.508585'}},
 '218T1A04B1': {'name': 'Manoj',
  'Graduation Year': '2',
  'Graduation Degree': 'ECE',
  'Attendance': {('log in time on', '2023-04-07'): '10:57:19.496003',
   ('log out time on', '2023-04-07'): '10:51:19.809858'}},
 '218T1A04B7': {'name': 'Sai',
  'Graduation Year': '2',
  'Graduation Degree': 'ECE',
  'Attendance': {('log in time on', '2023-04-07'): '10:51:24.160481',
   ('log out time on', '2023-04-07'): '10:57:25.041129'}}}